{% extends './index.html' %}

{% block title %}
Estudiantes
{% endblock %}

{% block body %}
<div class="table-data">
    <div class="order">
        <main class="table" id="customers_table">
            <section class="table__header">
                <h1>Gestión de Estudiantes</h1>
                <div class="input-group">
                    <input type="search" placeholder="Buscar Estudiante...">
                    <img src="/static/img/search.png" alt="">
                </div>
                
                <!--div class="export__file">
                    <label for="export-file" class="export__file-btn" title="Exportar Archivo"></label>
                    <input type="checkbox" id="export-file">
                    <div class="export__file-options">
                        <label>Exportar Como &nbsp; &#10140;</label>
                        <label for="export-file" id="toPDF">PDF <img src="/static/img/pdf.png" alt=""></label>
                        <label for="export-file" id="toJSON">JSON <img src="/static/img/json.png" alt=""></label>
                        <label for="export-file" id="toCSV">CSV <img src="/static/img/csv.png" alt=""></label>
                        <label for="export-file" id="toEXCEL">EXCEL <img src="/static/img/excel.png" alt=""></label>
                    </div>
                </div-->
            </section>
            <section class="table__body">
                <table>
                    <thead>
                        <tr>
                            <th> Id <span class="icon-arrow">&UpArrow;</span></th>
                            <th> CI <span class="icon-arrow">&UpArrow;</span></th>
                            <th> Nombre <span class="icon-arrow">&UpArrow;</span></th>
                            <th> Apellido <span class="icon-arrow">&UpArrow;</span></th>
                            <th> Correo <span class="icon-arrow">&UpArrow;</span></th>
                            <th> Foto <span class="icon-arrow">&UpArrow;</span></th>
                            <th> Estado <span class="icon-arrow">&UpArrow;</span></th>
                            <th> Acciones <span class="icon-arrow">&UpArrow;</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for estudiante in estudiantes %}
                        <tr>
                            <td>{{ estudiante.id }}</td>
                            <td>{{ estudiante.ci }}</td>
                            <td>{{ estudiante.nombre }}</td>
                            <td>{{ estudiante.apellido }}</td>
                            <td>{{ estudiante.email }}</td>
                            <td><img src="{{ url_for('static', filename=estudiante.foto) }}" width="50"></td>
                            <td>{{ 'Activo' if estudiante.estado == 1 else 'Inactivo' }}</td>
                            <td>
                                <form action="/delete_estudiante/{{ estudiante.id }}" method="post" style="display:inline;">
                                    <input type="submit" value="Inactivar">
                                </form>
                                <button type="button" onclick="showEditModal('{{ estudiante.id }}', '{{ estudiante.ci }}', '{{ estudiante.nombre }}', '{{ estudiante.apellido }}', '{{ estudiante.email }}', '{{ estudiante.foto }}', '{{ estudiante.estado }}')">Editar</button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </section>
        </main>
    </div>

    <div class="todo">
        <div class="head">
            <h3>Tareas</h3>            
        </div>
        <form id="addEstudianteForm" action="/add_estudiante" method="post">
            <ul class="todo-list">
                <li class="completed">
                    <div class="container">
                        <input type="number" name="ci" class="input" required="">
                        <label class="label">CI del estudiante</label>
                    </div>                
                </li>
                <li class="not-completed">
                    <div class="container">
                        <input type="text" name="nombre" class="input" required="">
                        <label class="label">Nombre del estudiante</label>
                    </div>                
                </li>
                <li class="completed">
                    <div class="container">
                        <input type="text" name="apellido" class="input" required="">
                        <label class="label">Apellido del estudiante</label>
                    </div>                
                </li>
                <li class="not-completed">
                    <div class="container">
                        <input type="email" name="email" class="input" required="">
                        <label class="label">Correo del estudiante</label>
                    </div>                
                </li>
                <li class="completed">
                    <div class="container">
                        <button class="button1" type="button" onclick="capturePhoto()"><p>Capturar Foto</p></button>
                    </div>                
                </li>
                <li class="not-completed">
                    <button class="button" type="submit">Agregar Estudiante</button>
                </li>
            </ul>
        </form>
    </div>
</div>

<!-- Modal para Actualizar Estudiante -->
<div id="editModal" class="modal">
    <div class="modal-content login-box">
        <span class="close" onclick="closeEditModal()">&times;</span>
        <h2>Actualizar Estudiante</h2>
        <form id="updateEstudianteForm" action="/update_estudiante" method="post">
            <div class="user-box">
                <input type="hidden" id="estudianteId" name="id">
            </div>
            <div class="user-box">
                <input type="number" id="updateCI" name="ci" required="">
                <label>Nombre actualizado</label>
            </div>
            <div class="user-box">
                <input type="text" id="updateNombre" name="nombre" required="">
                <label>Nombre actualizado</label>
            </div>
            <div class="user-box">
                <input type="text" id="updateApellido" name="apellido" required="">
                <label>Apellido actualizado</label>
            </div>
            <div class="user-box">
                <input type="email" id="updateEmail" name="email" required="">
                <label>Correo actualizado</label>
            </div>
            <div class="user-box">
                <input type="hidden" id="updateFoto" name="foto">
                <button type="button" onclick="capturePhoto()">Capturar Foto</button>
                <img id="updateCapturedImage" width="320" height="240" style="display:none;">
            </div>
            <div class="user-box">
                <select id="updateEstado" name="estado" required="">
                    <option value="1">Activo</option>
                    <option value="0">Inactivo</option>
                </select>
                <label>Estado actualizado</label>
            </div>
            <center>
                <a href="#" onclick="document.getElementById('updateEstudianteForm').submit(); return false;">
                    Actualizar Estudiante
                    <span></span>
                </a>
            </center>
        </form>
    </div>
</div>

<script>
    function capturePhoto() {
        const ci = document.querySelector('input[name="ci"]').value;
        const nombre = document.querySelector('input[name="nombre"]').value;
        const apellido = document.querySelector('input[name="apellido"]').value;
        const email = document.querySelector('input[name="email"]').value;

        if (!ci || !nombre || !apellido || !email) {
            alert('Por favor, complete los campos de ci, nombre, apellido y correo antes de capturar la foto.');
            return;
        }

        fetch('/capture_photo', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ci, nombre, apellido, email }),
        })
        .then(response => response.json())
        .then(data => {
            alert('Foto capturada y guardada exitosamente.');
        })
        .catch((error) => {
            console.error('Error:', error);
        });
    }

    function showEditModal(id, nombre, apellido, email, ci, foto, estado) {
        document.getElementById('estudianteId').value = id;
        document.getElementById('updateCI').value = ci;
        document.getElementById('updateNombre').value = nombre;
        document.getElementById('updateApellido').value = apellido;
        document.getElementById('updateEmail').value = email;
        document.getElementById('updateEstado').value = estado;
        document.getElementById('updateFoto').value = foto;
        var updateCapturedImage = document.getElementById('updateCapturedImage');
        updateCapturedImage.src = foto ? foto : "";
        updateCapturedImage.style.display = foto ? 'block' : 'none';
        document.getElementById('editModal').style.display = 'block';
    }

    function closeEditModal() {
        document.getElementById('editModal').style.display = 'none';
    }

    window.onclick = function(event) {
        if (event.target == document.getElementById('editModal')) {
            closeEditModal();
        }
    }
</script>
{% endblock %}
